<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
 <add name="ReccitContext" connectionString="metadata=res://*/Model.Reccit.csdl|res://*/Model.Reccit.ssdl|res://*/Model.Reccit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=reccitinstance.ciap1zhtj2jn.us-west-2.rds.amazonaws.com,1433;initial catalog=Reccit;persist security info=True;user id=ReccitUser;password=ReccitUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>